.dropdown-container {
position: relative;
}

.custom-dropdown {
position: absolute;
top: 100%;
left: 0;
width: 100%;
}

.dropdown-toggle {
width: 100%;
padding: 8px;
background-color: #fff;
border: 1px solid #ccc;
cursor: pointer;
}

.dropdown-options {
display: flex;
flex-direction: column;
}

.dropdown-option {
padding: 8px;
background-color: #413f3f;
border: 1px solid #ffffff;
cursor: pointer;
}
